#====================================================================================
# General
#====================================================================================

[elasticsearch]
hostname = https://gracc.opensciencegrid.org/q


#====================================================================================
# Email
#====================================================================================
# Set the global email related values under this section

[email]

from_name = GRACC Operations
# This is the real name from which the report appears to be emailed from
from_email = sbhat@fnal.gov
# This is the email from which the reports appears to be emailed from

# Tester emails
test_to_names = Shreyas Bhat
test_to_emails= sbhat@fnal.gov

# This is the FQDN of the mail server, which gratia will use to send the email
# Example value: yourSmtpServer.yourDomain.com
smtphost = smtp.fnal.gov